<div class="body-inner">
<div class="row">
	<div class="form-group col-md-3">
		<!-- visible -->
		<button ng-click="toggleVisible()" type="button" class="btn btn-default">
			<div ng-if="currentEntity.visible == true">
				<span class="glyphicon glyphicon-eye-close"></span>
			</div>
			<div ng-if="currentEntity.visible == false">
				<span class="glyphicon glyphicon-eye-open"></span>
			</div>
		</button>
	</div>
	<div class="form-group col-md-3">
		<!-- LOCK -->		
		<div ng-if="currentEntity.ed_locked == true">
			<button ng-click="toggleLock(false)" type="button" class="btn btn-danger">
				<span class="glyphicon glyphicon-move"></span>
			</button>
		</div>
		<div ng-if="currentEntity.ed_locked == false">
			<button ng-click="toggleLock(true)" type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-move"></span>
			</button>
		</div>
	</div>
</div>
<!-- NAME -->
<div class="form-group">
	<label>Name</label>
	<input type="text" ng-model="currentEntity.name" class="form-control"/>
</div>

<!-- POSITION -->
<div class="form-group">
	<label>Position</label>
	<div class="row">
		<div class="col-md-6">
			<input type="number" ng-model="data.entityX" ng-change="setX(data.entityX)"
				 class="form-control" integer/>
		</div>
		<div class="col-md-6">
			<input type="number" ng-model="data.entityY" ng-change="setY(data.entityY)" 
			class="form-control" integer/>
		</div>
	</div>
</div>

<!-- ANCHOR -->
<div class="form-group" ng-show="data.type != 'bitmaptext'">
	<label>Anchor</label>
	<div class="row">
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.anchor.x" 
				 class="form-control" float/>
		</div>
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.anchor.y" 
			class="form-control" float/>
		</div>
	</div>
</div>

<!-- SCALE -->
<div class="form-group">
	<label>Scale</label>
	<div class="row">
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.scale.x" 
				 class="form-control" float/>
		</div>
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.scale.y"
			class="form-control" float/>
		</div>
	</div>
</div>

<div ng-if="data.type != 'group' && data.type != 'text' && data.type != 'bitmaptext' " class="form-group">
	<!-- SIZE -->
	<div class="form-group">
		<label>Size</label>
		<div class="row">
			<div class="col-md-6">
				<input type="number" ng-model="currentEntity.width" class="form-control" integer/>
			</div>
			<div class="col-md-6">
				<input type="number" ng-model="currentEntity.height" class="form-control" integer/>
			</div>
		</div>
	</div>
</div>

<!-- ROTATION -->
<div class="form-group">
	<label>Rotation</label>
	<div ng-if="currentEntity.body == null">
		<input type="number" ng-model="currentEntity.angle" class="form-control"
		integer/>
	</div>
	<div ng-if="currentEntity.body != null">
		<input type="number" ng-model="currentEntity.body.angle" class="form-control"
		integer/>
	</div>
</div>

<!-- Text Editing -->
<div ng-if="data.type == 'text' || data.type == 'bitmaptext'" class="form-group">
	<label> Text </label>
	<div class="row">
		<div class = "col-md-8">
			<input type="text" ng-model="currentEntity.text" ng-change="changeText(currentEntity.text)" 
					class="form-control" />
		</div>
		<div class="col-md-4">
			<button ng-click="openEditModal(currentEntity,'text',true)" type="button" class="btn btn-default" tooltip="Edit Text">
					<span class="glyphicon glyphicon-pencil"></span>
			</button>	
		</div>	
	</div>

	<label> Font {{currentEntity._font}} </label>
	<select ng-model="currentEntity.fontName" 
			ng-change="changeFont()"
            ng-options="t as t for t in fonts" 
            ng-show ="data.type == 'text'"
            class="form-control">
    </select>
    <select 
		ng-model="currentEntity.font" 
		ng-change="currentEntity.setStyle()"
        ng-options="t.name as t.name for t in bitmapFonts"
        ng-show ="data.type == 'bitmaptext'"
        class="form-control">
	</select>

	<label> Font Size </label>
	<input type="number" ng-model="currentEntity.fontSize"
			class="form-control" integer/>

	<label> Color </label>
	<!-- for text -->
	<input type = "color" 
			ng-model="currentEntity.fill"
            ng-show ="data.type == 'text'"
		class="form-control" />

	<!-- for BITMAP text -->
	<input type = "color" ng-model="currentEntity.ed_tintColor"
            ng-show ="data.type == 'bitmaptext'"
			ng-change = "changeTint()" class="form-control" />
			
	<label ng-show ="data.type == 'text'"> Stroke </label>
	<div class="row" ng-show ="data.type == 'text'">
		<div class = "col-md-4">
			<input type = "number" ng-model="currentEntity.strokeThickness"
				class="form-control" min="0" integer/>
		</div>
		<div class = "col-md-4">
			<input type = "color" ng-model="currentEntity.stroke"
				class="form-control" />
		</div>
	</div>

	<label ng-show ="data.type == 'text'" > Wrap 
		<input type="checkbox" ng-model="currentEntity.wordWrap"/>
	</label>
	<div class="row" ng-if="currentEntity.wordWrap">
		<label class = "col-md-3"> Width </label>
		<div class = "col-md-4">
			<input type = "number" ng-model="currentEntity.wordWrapWidth"
				class="form-control" min="0" integer/>
		</div>
	</div>
</div>

<!-- DEBUG -->
<div class="form-group">
	<label>
		Draw Bounds <input type="checkbox" ng-model="currentEntity.drawBounds"/>
	</label>
</div>

<div class="row">
	<div class="col-md-4">
		<button ng-click="clone()"  type="button" class="btn btn-primary">Clone</button>
	</div>
	<div class="col-md-4">
		<button ng-click="delete()"  type="button" class="btn btn-danger">Delete</button>
	</div>
</div>
</div>