<!-- BEHAVIOURS -->
<div class="form-group">
	<label>Behaviours</label>
	<accordion>
		<accordion-group ng-repeat="behaviour in currentEntity.behaviours" heading="{{behaviour.classname}}">
			<div class="row">
				<div class="form-group col-md-10">
					<input type="text" ng-model="behaviour.args" class="form-control" ng-disabled="'true'"/>
				</div>
				<div class="form-group col-md-2">
					<button ng-click="openBehaviourArgsModal(behaviour)" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</div>
			</div>
			<div class="row">
				<button ng-click="openEditModal(behaviour,'classname')" type="button" class="btn btn-default">
					Name
				</button>
				<button ng-click="deleteBehaviour(behaviour)" type="button" class="btn btn-danger">
					Delete
				</button>
			</div>
		</accordion-group>
	</accordion>
	<div class="row">
		<div class="col-md-8">
			<input type="text" ng-model="data.newBehaviour" class="form-control"/>
		</div>
		<div class="col-md-4">
			<button ng-click="addBehaviour(data.newBehaviour)" type="button" class="btn btn-default">Add</button>
		</div>
	</div>
</div>