<div ng-if="data.type != 'group' " class="form-group">
	<!-- IMAGE -->
	<div class="form-group">
		<label>Image</label>
		<select ng-model="data.image" ng-options="image.name for image in data.images | filter:{loaded:true}" class="form-control">
		</select>
	</div>
	<div ng-if="data.type != 'button' " class="form-group">
		<!-- FRAME -->
		<div class="form-group">
			<label>Frame</label>
			<input type="number" ng-model="data.imageFrame" class="form-control"/>
		</div>
		<!-- APPLY -->
		<div class="form-group">
			<button ng-click="changeTexture(data.image, data.imageFrame)" type="button" class="btn btn-default">Apply</button>
		</div>
	</div>

	<div ng-if="data.type == 'button' " class="form-group">
		<!-- FRAME -->
		<div class="form-group">
			<label>Frame - Over</label>
			<input type="number" ng-model="currentEntity.onOverFrameID" class="form-control"/>
			<label>Frame - Out</label>
			<input type="number" ng-model="currentEntity.onOutFrameID" class="form-control"/>
			<label>Frame - Down</label>
			<input type="number" ng-model="currentEntity.onDownFrameID" class="form-control"/>
			<label>Frame - Up</label>
			<input type="number" ng-model="currentEntity.onUpFrameID" class="form-control"/>
		</div>
		<!-- APPLY -->
		<div class="form-group">
			<button ng-click="changeTextureButton(data.image)" type="button" class="btn btn-default">Apply</button>
		</div>
	</div>
	
	<!-- COLOR -->
	<div ng-show= "data.type == 'sprite' || data.type == 'tilesprite' || data.type =='button' " class="form-group">
	<label> Color </label>
		<input type = "color" ng-model="currentEntity.ed_tintColor"
			ng-change = "changeTint()" class="form-control" />
	</div>
</div>
<!-- ALPHA -->
<div>
	<label>Alpha</label>
	<input type="number" min="0" max ="1"
	ng-model="currentEntity.alpha"
	float/>
</div>
<!-- VISIBLE -->
<div class="form-group">
	<label>
		Visible <input type="checkbox" ng-model="currentEntity.visible"/>
	</label>
</div>
<!-- FIXED TO CAMERA -->
<div class="form-group">
	<label>
		Fixed To Camera <input type="checkbox" ng-model="currentEntity.ed_fixedToCamera" ng-change="toggleFixedToCamera()"/>
	</label>
</div>
<div ng-if="data.type == 'tilesprite'" class="form-group">
	<label>AutoScroll</label>
	<div class="row">
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.scrollX" 
				 class="form-control" integer/>
		</div>
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.scrollY" 
			class="form-control" integer/>
		</div>
	</div>
</div>

<!-- ANIMATIONS -->
<div ng-if="data.type == 'sprite'" class="form-group">
	<label> Animations </label>
	<accordion>
		<accordion-group ng-repeat="anim in currentEntity.animations._anims" 
		heading="{{anim.name}}">
			<!-- Frames -->
			<label> Frames </label>
			<input type="text" ng-model="anim.ed_frames" ng-change="changeAnim(anim)" class="form-group">
			</input>
			<!-- Play / Stop-->
			<button ng-click="playAnim(anim)"> 
				<span class="glyphicon glyphicon-play"></span>
			</button>
			<button ng-click="stopAnim(anim)"> 
				<span class="glyphicon glyphicon-stop"></span>
			</button>
			<!-- Allow loop -->
			<input type="checkbox" ng-model = "anim.ed_loop">Loop</input>			
			<!-- Remove -->			
			<button ng-click="removeAnim(anim)"> 
				<span class="glyphicon glyphicon-remove-sign"></span>
			</button>
		</accordion-group>
	</accordion>
	<!-- Add New Animation -->
	<div class="row">
		<div class="col-md-8">
			<input type="text" ng-model="animName" class="form-control"/>
		</div>
		<div class="col-md-4">
			<button ng-click="addAnimToCurrentEntity(animName)" type="button" class="btn btn-primary">Add Anim</button>
		</div>
	</div>
	<!-- AutoPlay -->
	<input type="checkbox" 
			ng-model = "currentEntity.autoPlayActive"
			ng-change="changeAutoPlay()">
			AutoPlay
	</input>
	<div ng-show = "currentEntity.autoPlayActive">
		<!-- Name -->
		<div class="row">
			<div class="col-md-4"><label>Name</label></div>
			<div class="col-md-8">
				<select type="text" ng-model="currentEntity.autoPlay.name">
	            <option ng-repeat="(keyName, keyValue) in currentEntity.animations._anims">{{keyName}}</option>
	            </select>
			</div>
		</div>
		<!-- Speed -->
		<div class="row">
			<div class="col-md-4"><label>Speed</label></div>
			<div class="col-md-8">
				<input type="number" ng-model="currentEntity.autoPlay.speed" 
				class="form-control"float/>
			</div>
		</div>
		<!-- Loop -->
		<div class="row">
			<div class="col-md-4"><label>Loop</label></div>
			<div class="col-md-8">
				<input type="checkbox" ng-model="currentEntity.autoPlay.loop" 
				class="form-control"/>
			</div>
		</div>
	</div>
</div>