<div class="form-group">
	<label>Tweens</label>
	<ul class="list-group">
		<li class="list-group-item">
			<accordion>
				<accordion-group ng-repeat="(key, tween) in currentEntity.go.tweensData" heading="{{key}}">
					<label>Properties</label>
					<div class="row">
						<div class="form-group col-md-10">
							<input json-text type="text" ng-model="tween.data.properties" class="form-control" ng-disabled="true"/>
						</div>
						<div class="form-group col-md-2">
							<button ng-click="openEditModal(tween.data,'properties')" type="button" class="btn btn-default btn-xs">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
					</div>
					<label>Easing</label>
					<div class="row">
						<select ng-model="tween.data.easing[0]"
								ng-options="k as k for (k,v) in tweenTypes" 
								ng-change="onEasingChanged(tween.data)"
								class="col-md-6">
						</select>
						<select ng-model="tween.data.easing[1]"
								ng-options="k as k for k in tweenTypes[tween.data.easing[0]]" 
								class="col-md-6">
						</select>
					</div>
					<div class="row">
						<label class="col-md-4"> Duration </label>
						<input type ="number" class="col-md-4" ng-model="tween.data.duration" integer/>
						<label class="col-md-2"> ms </label>
					</div>
					<div class="row">
						<label class="col-md-4"> Delay </label>
						<input type ="number" class="col-md-4" ng-model="tween.data.delay" integer/>
						<label class="col-md-4"> ms </label>
					</div>
					<div class="row">
						<label class="col-md-4"> Times </label>
						<input type ="number" class="col-md-4" ng-model="tween.data.repeat" integer/>
						<small class="col-md-4"> (-1 == inf) </small>
					</div>
					<div class="row">
						<label class="col-md-4"> Yoyo </label>
						<input type ="checkbox" class="col-md-1" ng-model="tween.data.yoyo" />
					</div>
					<div class="row">
						<label class="col-md-4"> Relative </label>
						<input type ="checkbox" class="col-md-1" ng-model="tween.data.relative" />
					</div>
					<div class="row">
						<label class="col-md-4"> AutoStart </label>
						<input type ="checkbox" class="col-md-1" ng-model="tween.data.autoStart" />
					</div>
					<div class="row">
						<label class="col-md-4"> Chain </label>
						<input type ="checkbox" class="col-md-1" ng-model="tween.chained" />
						<select 
							class="col-md-9"
							ng-model="tween.data.chain" 
                            ng-options="key as key for (key,value) in currentEntity.go.tweensData"
                            ng-show="tween.chained==true">
                    	</select>
					</div>
					<!-- Play / Stop-->
					<div class="row">
						<button ng-click="playTween(key)" class="btn btn-default btn-xs"> 
							<span class="glyphicon glyphicon-play"></span>
						</button>
						<button ng-click="stopTweens()" class="btn btn-default btn-xs"> 
							<span class="glyphicon glyphicon-stop"></span>
						</button>
					</div>
					<div class="row">
						<button ng-click="removeTween(key)" type="button" class="btn btn-danger btn-xs">
							Delete
						</button>
						<button ng-click="copyTween(tween)" type="button" class="btn btn-primary btn-xs">
							Copy
						</button>
					</div>
				</accordion-group>
			</accordion>
		</li>
	</ul>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-8">
				<input ng-model="newTweenName" type="text">
				</input>
			</div>
			<div class="col-md-2">
				<button ng-click="addTween(newTweenName)" type="button" class="btn btn-primary btn-xs">Add</button>
			</div>
			<div class="col-md-2">
				<button ng-click="pasteTween(newTweenName)" type="button" class="btn btn-primary btn-xs">Paste</button>
			</div>
		</div>
	</li>
</div>

<div class="form-group">
	<label>Audio</label>
	<ul class="list-group">
		<li class="list-group-item">
			<accordion>
				<accordion-group ng-repeat="soundData in currentEntity.ed_sounds" heading="{{soundData.name}}">
					<div class="row">
						<label class="col-md-3">Name</label>
						<input class="col-md-9" type ="text" ng-model="soundData.name" text/>
					</div>
					<div class="row">
						<label class="col-md-3">Key</label>
						<select 
							class="col-md-9"
							ng-model="soundData.key" 
                            ng-options="t.name as t.name for t in data.audios">
                    	</select>
					</div>
					<div class="row">
						<label class="col-md-4"> AutoPlay </label>
						<input type ="checkbox" class="col-md-1" ng-model="soundData.autoPlay" />
					</div>
					<div class="row" ng-show="soundData.autoPlay">
						<label class="col-md-3">Volume</label>
						<input class="col-md-9" type ="number" ng-model="soundData.volume" number/>
					</div>
					<div class="row" ng-show="soundData.autoPlay">
						<label class="col-md-4"> Loop </label>
						<input type ="checkbox" class="col-md-1" ng-model="soundData.loop" />
					</div>
					<div class="row">
						<button ng-click="removeSound($index)" type="button" class="btn btn-danger btn-xs">
							Delete
						</button>
					</div>
				</accordion-group>
			</accordion>
		</li>
	</ul>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-8">
				<input ng-model="newSoundName" type="text">
				</input>
			</div>
			<div class="col-md-4">
				<button ng-click="addSound(newSoundName)" type="button" class="btn btn-primary btn-xs">Add Sound</button>
			</div>
		</div>
	</li>
</div>