<div ng-if="data.type != 'group' " class="form-group">
	<!-- IMAGE -->
	<div class="form-group">
		<label>Image</label>
		<select ng-model="data.image" ng-options="image.name for image in data.images | filter:{loaded:true}" class="form-control">
		</select>
	</div>
	<!-- FRAME -->
	<div class="form-group">
		<label>Frame</label>
		<input type="text" ng-model="data.imageFrame" class="form-control"/>
	</div>
	<!-- APPLY -->
	<div class="form-group">
		<button ng-click="changeTexture(data.image, data.imageFrame)" type="button" class="btn btn-default">Apply</button>
	</div>
</div>
<!-- VISIBLE -->
<div class="form-group">
	<label>
		Visible <input type="checkbox" ng-model="currentEntity.visible"/>
	</label>
</div>
<!-- FIXED TO CAMERA -->
<div class="form-group">
	<label>
		Fixed To Camera <input type="checkbox" ng-model="currentEntity.ed_fixedToCamera" ng-change="toggleFixedToCamera()"/>
	</label>
</div>
<div ng-if="data.type == 'tilesprite'" class="form-group">
	<label>AutoScroll</label>
	<div class="row">
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.scrollX" 
				 class="form-control" integer/>
		</div>
		<div class="col-md-6">
			<input type="number" ng-model="currentEntity.scrollY" 
			class="form-control" integer/>
		</div>
	</div>
</div>