<div class="row">
	<div class="form-group col-md-3">
		<!-- visible -->
		<button ng-click="toggleVisible()" type="button" class="btn btn-default">
			<div ng-if="currentEntity.visible == true">
				<span class="glyphicon glyphicon-eye-close"></span>
			</div>
			<div ng-if="currentEntity.visible == false">
				<span class="glyphicon glyphicon-eye-open"></span>
			</div>
		</button>
	</div>
	<div class="form-group col-md-3">
		<!-- LOCK -->		
		<div ng-if="currentEntity.ed_locked == true">
			<button ng-click="toggleLock(false)" type="button" class="btn btn-danger">
				<span class="glyphicon glyphicon-move"></span>
			</button>
		</div>
		<div ng-if="currentEntity.ed_locked == false">
			<button ng-click="toggleLock(true)" type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-move"></span>
			</button>
		</div>
	</div>
</div>
<!-- NAME -->
<div class="form-group">
	<label>Name</label>
	<input type="text" ng-model="currentEntity.name" class="form-control"/>
</div>

<div ng-if="data.type != 'group' " class="form-group">
	<!-- POSITION -->
	<div class="form-group">
		<label>Position</label>
		<div class="row">
			<div class="col-md-6">
				<input type="number" ng-model="data.entityX" ng-change="setX(data.entityX)"
					 class="form-control" float/>
			</div>
			<div class="col-md-6">
				<input type="number" ng-model="data.entityY" ng-change="setY(data.entityY)" 
				class="form-control" float/>
			</div>
		</div>
	</div>
	<!-- SIZE -->
	<div class="form-group">
		<label>Size</label>
		<div class="row">
			<div class="col-md-6">
				<input type="number" ng-model="currentEntity.width" class="form-control" float/>
			</div>
			<div class="col-md-6">
				<input type="number" ng-model="currentEntity.height" class="form-control" float/>
			</div>
		</div>
	</div>
</div>

<!-- ROTATION -->
<div class="form-group">
	<label>Rotation</label>
	<input type="number" ng-model="currentEntity.angle" class="form-control" float/>
</div>
<!-- DEBUG -->
<div class="form-group">
	<label>
		Draw Bounds <input type="checkbox" ng-model="currentEntity.drawBounds"/>
	</label>
</div>