<div class="form-group">
	<!--<label>
	Enabled <input type="checkbox" ng-model="currentEntity.enableBody"/>
	</label> -->
	<!-- ADD BODY -->
	<div ng-if="data.type != 'group'" >
		<div ng-if="currentEntity.body == null" class="form-group">
			<button ng-click="addBodyToCurrentEntity()" type="button" class="btn btn-default">Add Body</button>
		</div>
	</div>

	<!-- Conditionnal : only show if there's a body -->
	<div ng-if="currentEntity.body != null">
		<!-- BODY -->
		<label>
		Enabled <input type="checkbox" ng-model="currentEntity.body.ed_enabled"/>
		</label>
		<label>
		DebugBounds <input type="checkbox" ng-model="currentEntity.body.ed_debugEditor" ng-change="toggleBodyDebug()"/>
		</label>
		<accordion>
			<accordion-group heading="Body">
				<!-- layer -->
				<div class="row">
					<label class="col-md-4">Layer</label>
					<select type="text" ng-model="currentEntity.go.layer" class="col-md-4">
						<option ng-repeat="(key, value) in layers" ng-click="changeLayer(key)">{{key}}</option>
					</select>
				</div>
				<!-- Motion State -->
				<div class="row">
					<label class="col-md-4"> Motion State </label>
					<form class="col-md-4">
						<select ng-model="currentEntity.body.ed_motion" 
								ng-options="motion as motion for motion in ['DYNAMIC', 'STATIC', 'KINEMATIC']" 
								class="form-control">
						</select>
						<input type="hidden" name="motionValue" value="{{currentEntity.body.ed_motion}}" />
					</form>
				</div>
				<div>
					<label>Fixed Rotation </label>
					<input type="checkbox" ng-model="currentEntity.body.fixedRotation"/>
				</div>

				<div class="row">
					<label class="col-md-3">Angle</label>
					<input type="number" ng-model="currentEntity.body.angle" 
					min="-180" max="180"
					class="col-md-4" integer/>
				</div>

				<div class="row">
					<label class="col-md-3">Gravity</label>
					<input type="number" ng-model="currentEntity.body.data.gravityScale"
					class="col-md-4" float/>
				</div>


				<div class="row">
					<label class="col-md-3">Mass</label>
					<input type="number" ng-model="currentEntity.body.data.mass"
					class="col-md-4" integer/>
				</div>

				<button ng-click="removeBodyFromCurrentEntity()" type="button" class="btn btn-danger">Remove Body</button>

			</accordion-group>
		</accordion>

		<!-- SHAPES EDITING -->
		<label> Shapes </label>
		<accordion>
			<accordion-group ng-repeat="shape in data.body.shapes" heading="{{currentEntity.go.getShape(shape.id).lr_name}}">
				<!-- heading -->
				<div class="row">
					<button ng-click="openEditModal(currentEntity.go.getShape(shape.id),'lr_name')" type="button" class="btn btn-default" tooltip="rename">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button ng-click="resetShape(shape.id)" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-repeat" tooltip="reset"></span>
					</button>
					<button ng-click="deleteShape(shape.id)" type="button" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove-sign" tooltip="remove"></span>
					</button>
				</div>
				<!-- EDIT A SHAPE -->
				<div class="form-group">
					<!-- Sensor -->		
					<label>
					Is Sensor <input type="checkbox" ng-model="currentEntity.go.getShape(shape.id).ed_sensor" />
					</label>
					<!-- size -->
					<div class="row">
						<label class="col-md-4">Position</label>
						<input type="number" ng-model="data.body.shapes[shape.id].x" 
						ng-change="resizeShape(shape.id)" class="col-md-4" integer/>
						<input type="number" ng-model="data.body.shapes[shape.id].y" 
								ng-change="resizeShape(shape.id)" class="col-md-4" integer/>
					</div>

					<div class="row">
						<label class="col-md-4">Size</label>
						<input type="number" ng-model="data.body.shapes[shape.id].width" 
								ng-change="resizeShape(shape.id)" class="col-md-4" integer/>
						<input type="number" ng-model="data.body.shapes[shape.id].height" 
								ng-change="resizeShape(shape.id)" class="col-md-4" integer/>	
					</div>

					<div class="row">
						<label class="col-md-4">Rotation</label>						
						<input type="number" ng-model="data.body.shapes[shape.id].rotation" 
								ng-change="resizeShape(shape.id)" class="col-md-4" integer/>
					</div>
				</div>
			</accordion-group>
		</accordion>

		<!-- Add New Shape -->
		<div class="row">
			<div class="col-md-8">
				<input type="text" ng-model="shapeName" class="form-control"/>
			</div>
			<div class="col-md-4">
				<button ng-click="addShapeToCurrentEntity(shapeName)" type="button" class="btn btn-default">Add Shape</button>
			</div>
		</div>

	</div>	<!-- end if(body != null) -->
	
</div>