<div class="modal-header">
    <div class="row">
        <div class="col-md-6">
            <h3>Atlases</h3>
        </div>
        <div class="col-md-5">
            <input type="text" ng-model="searchWord" class="form-control"/>
        </div>
        <span class="glyphicon glyphicon-search"></span>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md- scrollable">
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="atlas in project.assets.atlases" ng-show="containsSearchWord(atlas.name,searchWord)">
                        <td>
                            <span>{{atlas.name}}</span>
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="unloadAtlas(atlas)" ng-show="atlas.loaded">Unload</button>
                            <button class="btn btn-primary" ng-click="loadAtlas(atlas)" ng-show="!atlas.loaded">Load</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>