<div class="modal-header">
    <h2>Help</h2>
</div>

<div class="modal-body">
    <div class="form-group">
        <h3> Select multiple entities :</h3>
        <label> hold CTRL and select as many entities as you wish </label>
        <br/>

        <h3> Scale an entity :</h3>
        <label> when selected, hold S. You can then modify the size of the sprite </label>
        <br/>

        <h3> Rotate an entity : </h3>
        <label> when selected, hold R. You can then modify the angle of the sprite </label>
        <br/>

        <h3> Entity full drag mode:</h3>
        <label> when a sprite is selected, hold SHIFT. The axis will disappear, you can then drag it freely </label>
        <br/>

    	<h3> Duplicate an entity : </h3>
        <label> Alt + C </label>
        <br/>
        
        <h3> Delete an entity : </h3>
        <label> Alt + Del </label>
        <br/>

        <h3>Move Camera :</h3>
        <label> when holding middle mouse, the camera will automatically follow the pointer </label>
        <br/>
    </div> 
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="closeHelp()">Close</button>
</div>