<div class="modal-header">
    <h3>Help</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label> Scale a sprite : when selected, hold S. You can then modify the width of the sprite </label>
        <br/>

        <label> Sprite full drag : when a sprite is selected, hold ctrl. The sprite will hightlight, you can then drag it freely </label>
        <br/>

        <label>Move Camera : when holding middle mouse, the camera will automatically follow the pointer </label>
        <br/>

        <label>Zoom : SHIFT + mouse wheel</label>
    	<br/>

    	<label> Duplicate a sprite : Alt + C </label>
        <br/>
        
        <label> Delete a sprite : Alt + Del </label>
        <br/>
    </div> 
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="closeHelp()">Close</button>
</div>