<div class="modal-header">
    <h3>Images</h3>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Frame Width</th>
            <th>Frame Height</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="image in project.assets.images">
                <td>
                    <span>{{image.name}}</span>
                </td>
                <td>
                    <input type="text" ng-model="image.frameWidth" class="form-control" ng-disabled="image.loaded"/>
                </td>
                <td>
                    <input type="text" ng-model="image.frameHeight" class="form-control" ng-disabled="image.loaded"/>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="unloadImage(image)" ng-show="image.loaded">Unload</button>
                    <button class="btn btn-primary" ng-click="loadImage(image)" ng-show="!image.loaded">Load</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>