<div class="modal-header">
    <h3>Layers</h3>
</div>
<div class="modal-body">
    
    <div class="form-group"> 
        <div class="row">
            <!-- MATRIX -->
            <table class="col-md-12 table-hover">
                <thead>
                    <tr> 
                        <th> layers </th>
                        <th ng-repeat="(key, value)  in modalLayersData.layers">
                            <label>{{key}}</label>
                        </th>
                    </tr>
                </thead>
                <!-- rows -->
                <tr ng-repeat="(key, value)  in modalLayersData.layers">
                    <td>
                        <label> {{key}} </label>
                    </td>
                    <!-- checkboxes -->
                    <td ng-repeat="(key2, value2)  in modalLayersData.layers">
                        <input type="checkbox" 
                        ng-model="modalLayersData.matrix[$parent.$index][$index]"
                        ng-change="onCollisionChanged($parent.$index,$index)"/>
                    </td>
                    <!-- remove -->
                    <td>
                        <button class="btn btn-danger" ng-click="deleteLayer(key)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div> 

        <!-- Add New Layer -->
        <div class="row">
            <div class="col-md-8">
                <input type="text" ng-model="newLayerName" class="form-control"/>
            </div>
            <div class="col-md-4">
                <button ng-click="addLayer(newLayerName)" type="button" class="btn btn-default">Add Layer</button>
            </div>
        </div>
            
    </div> 
    <div class="row">
        <div class="col-md-12">
            <h4>Layers are locked for this demo version. If you want to manage your own layers, just get our awesome game editor from our GitHub : <a href="https://github.com/LadybugRiders/LREditor">https://github.com/LadybugRiders/LREditor</a></h4>
            <h3>Thank you!</h3>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="save()" ng-disabled="'true'">Save</button>
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>