<div class="modal-header">
    <h3>Level - Import</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
        <!-- PATH -->
        <div class="col-md-2">
            <label>Path</label>
        </div>
        <div class="col-md-10">
            <input type="text" ng-model="tmp.levels.path" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <!-- NAME -->
        <div class="col-md-2">
            <label>Name</label>
        </div>  
        <div class="col-md-10">
            <input type="text" ng-model="tmp.levels.name" class="form-control"/>
        </div>
    </div>
</div> 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="import()">Import</button>
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>