<div class="modal-header">
    <h3>Level - Import</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
        <!-- NAME -->
        <div class="col-md-2">
            <label>Select Level</label>
        </div>  
        <div class="col-md-10">
            <select 
                ng-model="tmp.levels.selectedPath" 
                ng-options="t.path as t.path for t in project.assets.levels">
            </select>
        </div>
    </div>
</div> 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="import()">Import</button>
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>