<div class="modal-header">
    <h3>Level - Export</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
        <!-- PATH -->
        <div class="col-md-2">
            <label>Path</label>
        </div>
        <div class="col-md-10">
            <input type="text" ng-model="tmp.levels.path" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <!-- NAME -->
        <div class="col-md-2">
            <label>Name</label>
        </div>  
        <div class="col-md-10">
            <input type="text" ng-model="tmp.levels.name" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <!-- OVERWRITE -->
        <div class="col-md-2">
            <label>Overwrite</label>
        </div>  
        <div class="col-md-10">
            <select 
                ng-model="tmp.levels.selectedLevel" 
                ng-options="t as t.shortPath for t in project.assets.levels"
                ng-change="onSelectLevel()">
            </select>
        </div>
    </div>
</div> 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="export()">Export</button>
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>