<div class="modal-header">
    <h3>Pick GameObject</h3>
</div>
<div class="modal-body">
    <div class="row">
        <ul class="list-entities">
            <li ng-repeat='data in entities | noeditorentities' ng-include="'partials/directives/entity_pick_directive.html'">
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <h3 ng-if="modalPickData.pickedEntity != null"> Current Selection : {{modalPickData.pickedEntity.name}} </h3>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="pick()">Pick</button>
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>