<div class="modal-header">
    <h3>Prefabs</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
        <!-- ADD -->
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{currentEntity.name}}</td>
                        <td><input type="text" ng-model="tmp.prefabs.name" class="form-control"/></td>
                        <td>
                            <button class="btn btn-success" 
                            ng-click="add()"
                            ng-show="prefabNameAlreadyExists(tmp.prefabs.name) == false">Add</button>
                            <button class="btn btn-success" 
                            ng-click="add()"
                            ng-show="prefabNameAlreadyExists(tmp.prefabs.name) == true">Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="col-md-5">
            <input type="text" ng-model="searchWord" class="form-control"/>
        </div>
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="row">
        <!-- TABLE -->
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prefab in project.assets.prefabs" ng-show="containsSearchWord(prefab.name,searchWord)">
                        <td>{{prefab.name}}</td>
                        <td><button class="btn btn-primary" ng-click="import(prefab)">Import</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div> 
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>