<div class="modal-header">
    <h3>Prefabs</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
        <!-- ADD -->
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{currentEntity.name}}</td>
                        <td><input type="text" ng-model="tmp.prefabs.name" class="form-control"/></td>
                        <td><button class="btn btn-success" ng-click="add()">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <!-- TABLE -->
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prefab in project.assets.prefabs">
                        <td>{{prefab.name}}</td>
                        <td><button class="btn btn-warning" ng-click="update(prefab)" ng-disabled="'true'">Update</button><button class="btn btn-primary" ng-click="import(prefab)">Import</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div> 
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>