<div>
	<a type="button" ng-show="isGroup(data)" entity-collapse><span class="glyphicon glyphicon-chevron-right"></span></a>
	<a class="margin-left" ng-show="!isGroup(data)"></a>
	<a type="button" ng-click="selectEntity(data)">{{data.name}}</a>
	<a ng-show="isGroup(data)"><small>({{data.children.length}})</small></a>
	<div class="arrows">
		<a type="button" ng-click="moveDown(data)"><span class="glyphicon glyphicon-arrow-down"></span></a><a type="button"><span class="glyphicon glyphicon-arrow-up" ng-click="moveUp(data)"></span></a>
	</div>
</div>
<ul>
	<li ng-repeat='data in data.children | entities' ng-include="'partials/directives/entity_directive.html'">
	</li>
</ul>