<div class="row">
	<div class="col-md-12">
		<h4>Attributes</h4>
	</div>
</div>
		
<div class="row">
	<div class="col-md-12">
		<span>{{currentEntity.name}} | z: {{currentEntity.z}} | id: {{currentEntity.go.id}} | [ {{data.type}}] </span>
	</div>
</div>

<div class="row" ng-show="currentEntity==null">
	<div class="col-md-12">
		<span>No entity selected</span>
	</div>
</div>

<!-- PREFABS -->
<div class="row" ng-show="currentEntity.prefab!=null">
	<div class="col-md-12">
		<button ng-click="revertPrefab()">RevertPrefab</button>
		<button ng-click="savePrefab()">SavePrefab</button>
	</div>
</div>

<tabset justified="true">
	<tab heading="General">
		<div ng-include="'partials/tabs/tab_attributes_general.html'"> </div>
	</tab>
	<tab heading="Display">				
		<div ng-include="'partials/tabs/tab_attributes_display.html'"> </div>
	</tab>
	<tab heading="Physics">
		<div ng-include="'partials/tabs/tab_attributes_physics.html'"> </div>
	</tab>
	<tab heading="Behaviours">
		<div ng-include="'partials/tabs/tab_attributes_behaviours.html'"> </div>				
	</tab>
	<tab heading="Misc">
		<div ng-include="'partials/tabs/tab_attributes_misc.html'"> </div>				
	</tab>
</tabset>
