<accordion accordion-draggable>
	<accordion-group heading="Attributes">
		<div class="row">
			<div class="col-md-12">
				<span>{{currentEntity.name}} - z: {{currentEntity.z}}</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<tabset justified="true">
					<tab heading="General">
						<div ng-include="'partials/tabs/tab_attributes_general.html'"> </div>
					</tab>
					<tab heading="Display">				
						<div ng-include="'partials/tabs/tab_attributes_display.html'"> </div>
					</tab>
					<tab heading="Physics">
						<div ng-include="'partials/tabs/tab_attributes_physics.html'"> </div>
					</tab>
					<tab heading="Behaviours">
						<div ng-include="'partials/tabs/tab_attributes_behaviours.html'"> </div>				
					</tab>
				</tabset>
			</div>
		</div>
	</accordion-group>
</accordion>
