<!--<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10" ng-controller="SettingsCtrl" ng-include="'partials/settings.html'">
	</div>
	<div class="col-md-1">
	</div>
</div>-->
<div class="row">
	<div class="col-md-12" ng-controller="PhaserCtrl" ng-include="'partials/phaser.html'">
	</div>

		<div ng-controller="ObjectsCtrl" ng-include="'partials/objects.html'" id="entities" class="draggable-panel">
		</div>
		<div ng-controller="AttributesCtrl" ng-include="'partials/attributes.html'" id="attributes" class="draggable-panel">
		</div>
</div>
