<accordion accordion-draggable>
	<accordion-group heading="Entities" is-open="'true'">
		<div class="row">
			<div list-entities class="col-md-12 list-entities">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group">
					<button ng-click="addGroup()" type="button" class="btn btn-default">Add Group</button>
					<button ng-click="addSprite()" type="button" class="btn btn-default">Add Sprite</button>
					<button ng-click="addTileSprite()" type="button" class="btn btn-default">Add TileSprite</button>
				</div>
			</div>
		</div>
	</accordion-group>
</accordion>