.navbar {
	margin-bottom: 0;
}

accordion a:hover {
	cursor: pointer;
}

.draggable-panel {
	position: absolute;
	top: 100px;
	left: 100px;
	min-width: 200px;
	max-width: 500px;
}

.draggable-panel .tab-content {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#entities {
	left: 100px;
}

#attributes {
	left: 450px;
}

.list-entities ul {
	display: none;
	padding-left: 15px;
}

.list-entities > ul {
	padding-left: 0px;
}

.list-entities li {
	list-style: none;
}

.list-entities li .chevron {
	margin-right: 3px;
}

.list-entities .margin-left {
	margin-left: 17px;
}

.list-entities li > div > .arrows {
	float: right;
	display: none;
}

.list-entities li:hover > div > .arrows {
	display: inline-block;
}

.scrollable {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}
